body{
  font-family: 'muli', serif;
  font-size: 18px;
  color: white;
  margin: 0;
  /*background: #EFCEF2;*/
  background: red;
  background: -webkit-linear-gradient(left, red,orange , yellow, green, blue, violet);
  background: -o-linear-gradient( red, orange, yellow, green, blue, violet);
  background: -moz-linear-gradient(red, orange, yellow, green, blue, violet);
  background: linear-gradient(red, orange , yellow, green, blue, violet);
  margin: 5%;
}

/*=================
hero image
=================*/

.hero-image{
  align-content: center;
  max-width: 100vw;
  max-height: 100%;
}

#hero-image{
  border-radius: 25px;
}

/*=================
header (title and author)
=================*/

.header, .article{
  background: hsla(311, 100%, 10%, 0.5);
  padding: 1% 5% 2% 5%;
  margin-top: 5%;
  border-radius: 25px;
}

h1{
  font-size: 3rem;
  font-weight: 600;
  color: hsla(297, 100%, 50%, 1);
  font-family: 'roboto slab'
}

h2, h3{
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: -2%;
}

@media only screen and (max-width: 700px){
  h1{
    font-size: 2.5rem;
  }
  h2, h3{
    font-size: 1rem;
  }
}

/*=================
subheading
=================*/

#subheading{
  font-size: 2rem;
  font-style: italic;
  padding: 5%;
  color: hsla(212, 100%, 42%, 1);
  font-weight: 600;
  margin-top: 2%;
  margin-bottom: -2%
}

@media only screen and (max-width: 700px){
  #subheading{
    font-size: 1.8rem;
  }
}

/*=================
article copy
=================*/

p{
  font-weight: 200;
  font-family: 'muli'
}
