body{
  font-family: 'roboto', serif;
  font-size: 18px;
  color: white;
  background: linear-gradient(red, orange , yellow, green, blue, purple);
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

div{
  border-radius: 25px;
}
/*=================
hero image
=================*/

#hero-image{
  border-radius: 25px;
}

/*=================
header (title and author)
=================*/

.header, .article, .intro-container{
  background: hsla(311, 100%, 10%, 0.5);
  padding: 2rem;
  border-radius: 25px;
  margin-top: 2rem;
}

h1, .subheading, .pull-quote{
    font-family: 'roboto slab'
}

h1{
  font-size: 3rem;
  font-weight: 600;
  color: hsla(297, 100%, 50%, 1);
}

h2, h3{
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: -2%;
}

@media only screen and (max-width: 700px){
  h1{
    font-size: 2rem;
    padding: 2rem;
  }
  h2, h3{
    font-size: 1rem;
    padding: 2rem;
  }
}

/*=================
subheading
=================*/

.subheading, .pull-quote{
  /*border: 3px solid blue;*/
  margin: 0 2% 0 2%;
  padding: 0 2% 0 2%;
}

#subheading, .pq-text{
  font-size: 2rem;
  /*font-style: italic;*/
  color: blue;
  font-weight: 600;
  line-height: 2.3rem;
  text-align: center;
}

@media only screen and (max-width: 700px){
  #subheading{
    font-size: 1.4rem;
    line-height: 130%;
  }
}

/*=================
intro
=================*/

.intro{
  font-style: italic;
}

.intro-container, .article {
  padding-left: 4rem;
  padding-right: 4rem;
}

/*=================
article copy
=================*/

p{
  font-weight: 200;
  font-size: 1.2rem;
  line-height: 1.7rem;
}

b{
  font-weight: 600;
}

/*=================
pull quote
=================*/

.pq-text, .pull-quote{
  color: hsla(297, 100%, 50%, 1);
  border-color: hsla(297, 100%, 50%, 1);
}
