body{
  font-family: arial, sans-serif;
  font-size: 18px;
  margin: 3em;
  background: #EFCEF2;
}

h1{
  font-family: georgia, serif;
  font-weight: 600;
  font-size: 2.5em;
  line-height: 1em;
  color: #6C3483;
}

h2{
  font-weight: 300;
  font-size: 1.3em;
  font-style: oblique;
  line-height: 1.3em;
}

h3{
  font-weight: 300;
  font-size: 1em;
  text-transform: uppercase;
  color: #4532FF;
}

h4{
  font-weight: 200;
  margin-top: .5rem;
  font-size: .8em;
  color: #808B96;
}

p{
  font-weight: 300;
  font-style: normal;
  font-size: 1.2em;
}

em{
  font-weight: 300;
  font-size: 1em;
  line-height: 1.5;
  color: #808B96;
  font-style: normal;
}

.hero-image-container{
  display: flex;
  align-content: center;
  margin-bottom: 1.5em;
}

.hero-image{
  align-content: center;
  max-width: 100%;
  max-height: 100%;
}

.author{
  margin-top: -1em;
  margin-bottom: -1em;
}

.date{
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-color: #4532FF;
}

.name{
  font-weight: bold;
}

.subheading{
  margin-top: 4em;
}

.intro-container{
  margin-top: 3em;
  margin-bottom: 3em;
}

.intro{
  font-weight: 300;
  font-size: 1em;
  line-height: 1.2em;
  margin-bottom: 1em;
}

.heading-container{
  display: flex;
  align-content: center;
  flex-direction: column;
  margin-bottom: -1em;
}

.subheading-container{
  margin-top: 2em;
}

.artilce-name{
  margin-top: -1em;
}

.pull-quote-container{
  background: #D6EAF8;
  padding: 1em 0 1em 1em;
}

.pull-quote-border{
  padding: 1em 0 1em 1em;
  border-left-style: solid;
  border-left-width: .1em;
  border-color: #4532FF;
}

.pq-text{
  font-weight: 400;
  font-size: 1.2em;
  font-style: oblique;
  line-height: 1.3em;
  margin: 0;
  color: #4532FF;
}
