body {
  font-family: sans-serif;
  background-color: navy;
  color: white;
}

.title{
  padding-bottom: .5em;
  padding-top: 0;
  margin: 0;
}

.navigation {
  margin-bottom: 0;
  padding-bottom: 0;
}
